@import 'setup';
@import 'vars';
@import 'base';
@import 'header';
@import 'footer';

.home-page {

    .home-header {
    height: 100vh;
    background-image: url('../assets/home-1.jpeg');
    background-position: 50% 50%;
    background-size: cover;
    }

    .recipes {
        display: flex;
        flex-wrap: wrap;
        
            .popular-recipes {
            width: 50%;
            // flex-wrap: wrap;
            padding: 5%;

                a {
                color: white;
                padding: 7px;
                margin-top: 5px;
                background-color: $mainGreen;
                }
            }

            .img1 {
            background-image: url('../assets/home-2.jpeg');
            width: 50%;
            height: 70px;
            flex-wrap: wrap;
            background-size: cover;
            }

            .img2 {
            background-image: url('../assets/home-3.jpeg');
            height: 70px;
            width: 50%;
            flex-wrap: wrap;
            background-size: cover;
            }

            .genre-recipes {
            display: flex;
            width: 50%;
            // padding: 5%;
            flex-wrap: wrap;

                .genre1, .genre2, .genre3, .genre4, .genre5, .genre6{
                    flex: 50%;
                }
            }
    }

    .our-resturant {
        padding: 10%;
        text-align: center;
    }

    .gallery {
        display: flex;
        flex-wrap: wrap;

        img {
            flex: 33.3333%
        }
    }

    .hungry {
        text-align: center;
        padding: 10% 0;
        background-color: $accentGreen;
    }

    

}



