// Varibles 

// Colours
$grey : #F6F6F6;
$brownGrey : #999999;
$softBlack : #2E2E2E;
$deepBlack : #333333;
$mainGreen : #64A604;
$accentGreen : #DDED9A;


//  Pink = #DC1570 

// Fonts family

$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Lora', serif;

// mixin for Delicious heading

 @mixin deliciousHeading() {
    font-size: 2.6rem;
    flex: 1 0 50%;
    font-family: $headingFont;
    color: $deepBlack;
    &:hover {
       color: $mainGreen;
    }
 }

 @mixin navLinks(){
    font-size: 1rem;
    color: $deepBlack;
    font: $headingFont;
    padding: 2%;
    &:hover {
       color: $mainGreen;
    }
 }