// Varibles 

// Colours
$grey : #F6F6F6;
$brownGrey : #999999;
$softBlack : #2E2E2E;
$deepBlack : #333333;
$mainGreen : #64A604;
$accentGreen : #DDED9A;

// Fonts family

$headingFont: 'Raleway', sans-serif;
$bodyFont: 'Lora', serif;


$transition-details: 0.5s ease-in-out;


// mixin for Delicious heading

 @mixin deliciousHeading() {
    font-size: 2.6rem;
    flex: 1 0 50%;
    font-family: $headingFont;
    color: $deepBlack;
    &:hover {
       color: $mainGreen;
    }
 }

 @mixin navLinks(){
    font-size: 1rem;
    color: $deepBlack;
    font: $headingFont;
    padding: 2%;
    &:hover {
       color: $mainGreen;
    }
 }

 @mixin underlineAccent{
      content: " ";
      display: block;
      border-bottom: 5px solid $mainGreen;
      width: 50px;
      // margin: 0 auto;
      // margin: 5% 0;
      padding: 10px 0;
 }